<h1>Add new course</h1>
{{#if error}}
  <p class="alert">{{error}}</p>
{{/if}}
<form action="/add" method="post" novalidate>
  <div class="input-field">
    <input
      id="title"
      name="title"
      type="text"
      class="validate"
      required
      value="{{data.title}}"
    />
    <label for="title">Course Name</label>
    <span class="helper-text" data-error="Write Title">
    </span>

  </div>

  <div class="input-field">
    <input
      id="price"
      name="price"
      type="number"
      class="validate"
      required
      value="{{data.price}}"
      min="1"
    />
    <label for="price">Course Price</label>
    <span class="helper-text" data-error="Write Price">
    </span>

  </div>

  <div class="input-field">
    <input
      id="img"
      name="img"
      type="text"
      class="validate"
      required
      value="{{data.img}}"
    />
    <label for="img">URL for pictures</label>
    <span class="helper-text" data-error="Write URL">
    </span>

  </div>
  <input type="hidden" name="_csrf" value="{{csrf}}" />

  <button class="btn btn-primary">Add course</button>
</form>